/*===== New Popup for home page =====*/
#gi-popnews-bg {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
	display: none;
	z-index: 25;
}
#gi-popnews-box {
	width: 100%;
	max-width: 600px;
	padding: 24px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: $white;
	color: $title-color;
	display: none;
	z-index: 25;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
}

/* Responsive footer css */
@media (max-width: 767px) {
	#gi-popnews-box {
		width: 90%;
	}
}